<div class="container-fluid p-1">
  <table class="table table-striped" *ngIf='orders.length'>
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Status</th>
        <th scope="col">Rating</th>
        <th scope="col">Star-Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let order of orders'>
        <td>{{order.customerOrderId}}</td>
        <td>{{order.amount | currency:'INR'}}</td>
        <td>{{order.paymentMethod}}</td>
        <td>{{order.orderStatus}}</td>
        <td>{{order.rating}}</td>
        <td>
          <button style="border: none;outline: none;background-color: transparent;" (click)= "orderRating(order.customerOrderId, 1)">
            <fa-icon [icon]="faStar" [style.font-size] ="'larger'" [style.color]="(order.rating>=1) ? 'orange' : 'black'"></fa-icon>
          </button>
          <button style="border: none;outline: none;background-color: transparent;" (click)= "orderRating(order.customerOrderId, 2)">
            <fa-icon [icon]="faStar" [style.font-size] ="'larger'" [style.color]="(order.rating>=2) ? 'orange' : 'black'"></fa-icon>
          </button>
          <button style="border: none;outline: none;background-color: transparent;" (click)= "orderRating(order.customerOrderId, 3)">
            <fa-icon [icon]="faStar" [style.font-size] ="'larger'" [style.color]="(order.rating>=3) ? 'orange' : 'black'"></fa-icon>
          </button>
          <button style="border: none;outline: none;background-color: transparent;" (click)= "orderRating(order.customerOrderId, 4)">
            <fa-icon [icon]="faStar" [style.font-size] ="'larger'" [style.color]="(order.rating>=4) ? 'orange' : 'black'"></fa-icon>
          </button>
          <button style="border: none;outline: none;background-color: transparent;" (click)= "orderRating(order.customerOrderId, 5)">
            <fa-icon [icon]="faStar" [style.font-size] ="'larger'" [style.color]="(order.rating>=5) ? 'orange' : 'black'"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
