<<!-- <div class="outer"> -->
<div class="container outer-login">
  <!-- <img src="{{loginimgUrl}}" id="loginimg" class="loginimg" alt=""> -->
  <!-- <div class="row"> -->
  <!-- <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3"> -->
  <div class="container panel border bg-white">
    <div class="panel-heading">
      <h3 class="pt-3 font-weight-bold">Login</h3>
    </div>
    <div class="panel-body p-3">
      <form class="add-login-form" [formGroup]="loginForm" (ngSubmit)="LoginSubmit()">
        <div class="col">
          <span class="fa fa-user p-2"></span>
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback mb-0">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        <div class="col">
          <span class="fa fa-lock p-2"></span>
          <label for="Password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
          <!-- <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span> -->
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['pattern']">
              Password Constraints:
              <ul>
                <li>Must be 8 - 15 characters long</li>
                <li>Must contain at least one lowecase character</li>
                <li>Must contain at least one uppercase character</li>
                <li>Must contain at least one numeric character</li>
                <li>Must contain at least one special symbol</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <input type="checkbox" onclick="myFunction()">Show Password -->
        <!-- <div class="mb-1 mt-4 form-check">
          <input type="checkbox" class="form-check-input border-2" id="exampleCheck1" formControlName="isAdmin">
          <label class="form-check-label" for="exampleCheck1">I am Admin</label>
        </div> -->
        <!-- <div class="form-inline fr mt-4">
                <a id="forget" class="font-weight-bold">Forget Password?</a>
              </div> -->
        <button type="submit" class="btn btn-block mt-4 w-100 login-button">Login</button>
        <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup"
            routerLinkActive="router-link-active">Signup</a></div>
      </form>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
<!-- </div> -->
