.grid-container {
  display: grid;
  grid-template-columns: 30% 70% ;
  grid-template-areas: "product-image" "product-description" ;
  min-height: 100%;
  background-color: white;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-description{
  /* background-color: rgb(223, 139, 35); */
  padding-left: 5%;
  padding-top: 5%;
  text-align: justify;
}
