<div class="grid-container">
  <!-- <div class="grid-item"> -->
    <!-- <img src="{{'../../../../../assets/images/' + getproductCategoryName(item.productCategoryId) + '/' + item.image + '.jpg'}}" alt=""
        srcset="" class="card-image"> -->
        <img src="{{'../../../../../assets/images/' + getproductCategoryName(Item.productCategoryId) + '/' + Item.image + '.jpg'}}" alt=""
        srcset="" class="product-image">
  <!-- </div> -->
  <div class="container product-description">
    <div class="row">
      <div class="col-3 font-weight-bold">
        Product Name :
      </div>
      <div class="col">
        {{Item.itemName}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        Description :
      </div>
      <div class="col">
        {{Item.description}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        Price :
      </div>
      <div class="col">
        {{Item.price | currency:'INR':'symbol':'1.2-2'}}
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-3">
        <button class="order-button" (click)="addToCart(Item.productId, Item.itemName, Item.price)">
          <fa-icon [icon]="faCartPlus" style="color: red ; font-size: x-large;">
          </fa-icon></button>
      </div>
      <div class="col">
        <div class="star-rating">
          <span class="star" *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" [ngClass]="{'filled': i < currentRating}">&#9733;</span>
        </div>
      </div>
      <div class="col">
        <button class="like-button" [ngClass]="{'liked': isLiked}" (click)="toggleLike()">
          <span class="like-icon">&#10084;</span>
          <span class="like-count">{{ likeCount }}</span>
        </button>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-3">
        <button (click)="showProductList()"> Back </button>
      </div>
    </div>

  </div>
</div>
